@model MagicSunset.Data.Dishess

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Dishess</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="dishname" class="control-label"></label>
                <input asp-for="dishname" class="form-control" />
                <span asp-validation-for="dishname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dishkind" class="control-label"></label>
                <input asp-for="dishkind" class="form-control" />
                <span asp-validation-for="dishkind" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="allergens" class="control-label"></label>
                <input asp-for="allergens" class="form-control" />
                <span asp-validation-for="allergens" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="gram" class="control-label"></label>
                <input asp-for="gram" class="form-control" />
                <span asp-validation-for="gram" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="price" class="control-label"></label>
                <input asp-for="price" class="form-control" />
                <span asp-validation-for="price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="foodkind" class="control-label"></label>
                <select asp-for="foodkind" class="form-control"></select>
                <span asp-validation-for="foodkind" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
