@model MagicSunset.Data.Reservations

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Reservations</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Table" class="control-label"></label>
                <input asp-for="Table" class="form-control" />
                <span asp-validation-for="Table" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Guests" class="control-label"></label>
                <input asp-for="Guests" class="form-control" />
                <span asp-validation-for="Guests" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TablesId" class="control-label"></label>
                <select asp-for="TablesId" class ="form-control" asp-items="ViewBag.TablesId"></select>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderedOn" class="control-label"></label>
                <input asp-for="OrderedOn" class="form-control" />
                <span asp-validation-for="OrderedOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
